@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
}

.hoverTransition {
  transition: all 0.25s ease-in-out;
}

.btnHover {
  transition: all 0.25s ease-in-out;
}

.btnHover:hover {
  box-shadow: 1px 1px 10px #383838;
}

.oceanHover {
  transition: all 0.5s ease-in-out;
}

.oceanHover:hover {
  box-shadow: 1px 1px 15px #65cfc4;
}

.greyHover {
  transition: all 0.5s ease-in-out;
}

.greyHover:hover {
  box-shadow: 1px 1px 15px #383838;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar-thumb {
  background: #6d6d6d;
  border-radius: 10px;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #65cfc4;
}

::selection {
  color: white;
  background: #65cfc4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 5rem;
}

.wrapper {
  position: absolute;
  display: flex;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.stroke {
  -webkit-text-fill-color: transparent;
  color: #65cfc4;
  -webkit-text-stroke-width: 2px;
}

/* for vertical text  */
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
